In [1]:
# importing libraries

In [59]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.metrics import accuracy_score

In [25]:
df = pd.read_csv("D:\\Datasets\\suv.csv")

In [26]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [27]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [28]:
df.corr()*100

                    User ID         Age  EstimatedSalary   Purchased
User ID          100.000000   -0.072110         7.109732    0.712018
Age               -0.072110  100.000000        15.523802   62.245420
EstimatedSalary    7.109732   15.523802       100.000000   36.208303
Purchased          0.712018   62.245420        36.208303  100.000000

In [47]:
df["Purchased"].value_counts()
# it is not an unbalanced dataset

0    257
1    143
Name: Purchased, dtype: int64

In [29]:
# since gender is a categorical feature, convert it into one-hot encoding.

In [30]:
gender = pd.get_dummies(df["Gender"], drop_first= True)

In [31]:
df = pd.concat([df, gender], axis = 1)

In [32]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased  Male
0  15624510    Male   19            19000          0     1
1  15810944    Male   35            20000          0     1
2  15668575  Female   26            43000          0     0
3  15603246  Female   27            57000          0     0
4  15804002    Male   19            76000          0     1

In [34]:
df.drop("Gender", axis = 1, inplace= True)

In [35]:
df.head()

    User ID  Age  EstimatedSalary  Purchased  Male
0  15624510   19            19000          0     1
1  15810944   35            20000          0     1
2  15668575   26            43000          0     0
3  15603246   27            57000          0     0
4  15804002   19            76000          0     1

In [37]:
df.corr()*100

,User ID,Age,EstimatedSalary,Purchased,Male
User ID,100.000000,-0.072110,7.109732,0.712018,-2.524943
Age,-0.072110,100.000000,15.523802,62.245420,-7.374133
EstimatedSalary,7.109732,15.523802,100.000000,36.208303,-6.043469
Purchased,0.712018,62.245420,36.208303,100.000000,-4.246946
Male,-2.524943,-7.374133,-6.043469,-4.246946,100.000000

In [51]:
X = df.drop(columns = ["User ID", "Purchased"]).values
Y = df["Purchased"].values
X.shape

(400, 3)

In [41]:
# scale down the data

In [42]:
minmax = MinMaxScaler()
X = minmax.fit_transform(X)

In [43]:
# split the data with the help of train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size= 0.3)

In [45]:
# create ANN for classification task

In [56]:
model = Sequential()
model.add(Dense(input_dim = 3, units = 6, activation = "relu"))
model.add(Dense(units = 6, activation = "relu"))
model.add(Dense(units = 6, activation = "relu"))
model.add(Dense(units = 1, activation = "sigmoid"))
model.compile(optimizer= "adam", loss= "binary_crossentropy", metrics= ["accuracy"])

In [57]:
model.fit(X_train, y_train, validation_split= 0.3, epochs= 100)

Epoch 1/100
7/7 [==============================] - 0s 28ms/step - loss: 0.6829 - accuracy: 0.4082 - val_loss: 0.7023 - val_accuracy: 0.3690
Epoch 2/100
7/7 [==============================] - 0s 11ms/step - loss: 0.6773 - accuracy: 0.4898 - val_loss: 0.6913 - val_accuracy: 0.4881
Epoch 3/100
7/7 [==============================] - 0s 12ms/step - loss: 0.6723 - accuracy: 0.5255 - val_loss: 0.6852 - val_accuracy: 0.5952
Epoch 4/100
7/7 [==============================] - 0s 13ms/step - loss: 0.6690 - accuracy: 0.5918 - val_loss: 0.6807 - val_accuracy: 0.6071
Epoch 5/100
7/7 [==============================] - 0s 12ms/step - loss: 0.6662 - accuracy: 0.6429 - val_loss: 0.6744 - val_accuracy: 0.6429
Epoch 6/100
7/7 [==============================] - 0s 14ms/step - loss: 0.6627 - accuracy: 0.6429 - val_loss: 0.6686 - val_accuracy: 0.6786
Epoch 7/100
7/7 [==============================] - 0s 13ms/step - loss: 0.6597 - accuracy: 0.6633 - val_loss: 0.6647 - val_accuracy: 0.7262
Epoch 8/100
7/7 [==============================] - 0s 12ms/step - loss: 0.6572 - accuracy: 0.6786 - val_loss: 0.6598 - val_accuracy: 0.7738
Epoch 9/100
7/7 [==============================] - 0s 12ms/step - loss: 0.6547 - accuracy: 0.7041 - val_loss: 0.6568 - val_accuracy: 0.7738
Epoch 10/100
7/7 [==============================] - 0s 12ms/step - loss: 0.6526 - accuracy: 0.7092 - val_loss: 0.6549 - val_accuracy: 0.7738
Epoch 11/100
7/7 [==============================] - 0s 11ms/step - loss: 0.6506 - accuracy: 0.7143 - val_loss: 0.6530 - val_accuracy: 0.7738
Epoch 12/100
7/7 [==============================] - 0s 11ms/step - loss: 0.6485 - accuracy: 0.7194 - val_loss: 0.6510 - val_accuracy: 0.7738
Epoch 13/100
7/7 [==============================] - 0s 11ms/step - loss: 0.6462 - accuracy: 0.7194 - val_loss: 0.6499 - val_accuracy: 0.7738
Epoch 14/100
7/7 [==============================] - 0s 11ms/step - loss: 0.6446 - accuracy: 0.7092 - val_loss: 0.6492 - val_accuracy: 0.7500
Epoch 15/100
7/7 [==============================] - 0s 13ms/step - loss: 0.6423 - accuracy: 0.7041 - val_loss: 0.6471 - val_accuracy: 0.7500
Epoch 16/100
7/7 [==============================] - 0s 9ms/step - loss: 0.6401 - accuracy: 0.7041 - val_loss: 0.6444 - val_accuracy: 0.7619
Epoch 17/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6379 - accuracy: 0.7194 - val_loss: 0.6412 - val_accuracy: 0.7738
Epoch 18/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6357 - accuracy: 0.7143 - val_loss: 0.6405 - val_accuracy: 0.7738
Epoch 19/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6336 - accuracy: 0.7143 - val_loss: 0.6383 - val_accuracy: 0.7738
Epoch 20/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6314 - accuracy: 0.7143 - val_loss: 0.6369 - val_accuracy: 0.7738
Epoch 21/100
7/7 [==============================] - 0s 6ms/step - loss: 0.6291 - accuracy: 0.7143 - val_loss: 0.6373 - val_accuracy: 0.7381
Epoch 22/100
7/7 [==============================] - 0s 6ms/step - loss: 0.6272 - accuracy: 0.7092 - val_loss: 0.6355 - val_accuracy: 0.7381
Epoch 23/100
7/7 [==============================] - 0s 8ms/step - loss: 0.6247 - accuracy: 0.7398 - val_loss: 0.6310 - val_accuracy: 0.7381
Epoch 24/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6222 - accuracy: 0.7398 - val_loss: 0.6289 - val_accuracy: 0.7381
Epoch 25/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6192 - accuracy: 0.7500 - val_loss: 0.6244 - val_accuracy: 0.7857
Epoch 26/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6168 - accuracy: 0.7551 - val_loss: 0.6193 - val_accuracy: 0.7857
Epoch 27/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6143 - accuracy: 0.7653 - val_loss: 0.6168 - val_accuracy: 0.7976
Epoch 28/100
7/7 [==============================] - ETA: 0s - loss: 0.5968 - accuracy: 0.84 - 0s 7ms/step - loss: 0.6116 - accuracy: 0.7653 - val_loss: 0.6129 - val_accuracy: 0.7857
Epoch 29/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6089 - accuracy: 0.7806 - val_loss: 0.6096 - val_accuracy: 0.7857
Epoch 30/100
7/7 [==============================] - 0s 8ms/step - loss: 0.6061 - accuracy: 0.7806 - val_loss: 0.6049 - val_accuracy: 0.7857
Epoch 31/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6034 - accuracy: 0.7857 - val_loss: 0.6005 - val_accuracy: 0.7857
Epoch 32/100
7/7 [==============================] - 0s 7ms/step - loss: 0.6005 - accuracy: 0.7806 - val_loss: 0.5969 - val_accuracy: 0.7857
Epoch 33/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5981 - accuracy: 0.7806 - val_loss: 0.5970 - val_accuracy: 0.7857
Epoch 34/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5947 - accuracy: 0.7857 - val_loss: 0.5952 - val_accuracy: 0.7857
Epoch 35/100
7/7 [==============================] - ETA: 0s - loss: 0.5768 - accuracy: 0.75 - 0s 7ms/step - loss: 0.5917 - accuracy: 0.7857 - val_loss: 0.5958 - val_accuracy: 0.7976
Epoch 36/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5883 - accuracy: 0.7653 - val_loss: 0.5950 - val_accuracy: 0.7976
Epoch 37/100
7/7 [==============================] - 0s 8ms/step - loss: 0.5853 - accuracy: 0.7653 - val_loss: 0.5930 - val_accuracy: 0.7976
Epoch 38/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5820 - accuracy: 0.7806 - val_loss: 0.5899 - val_accuracy: 0.7976
Epoch 39/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5786 - accuracy: 0.7908 - val_loss: 0.5848 - val_accuracy: 0.8095
Epoch 40/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5755 - accuracy: 0.7908 - val_loss: 0.5775 - val_accuracy: 0.7857
Epoch 41/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5718 - accuracy: 0.8010 - val_loss: 0.5737 - val_accuracy: 0.7857
Epoch 42/100
7/7 [==============================] - 0s 6ms/step - loss: 0.5682 - accuracy: 0.8010 - val_loss: 0.5701 - val_accuracy: 0.7976
Epoch 43/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5649 - accuracy: 0.8112 - val_loss: 0.5675 - val_accuracy: 0.7976
Epoch 44/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5615 - accuracy: 0.8112 - val_loss: 0.5628 - val_accuracy: 0.8095
Epoch 45/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5576 - accuracy: 0.8112 - val_loss: 0.5596 - val_accuracy: 0.8095
Epoch 46/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5538 - accuracy: 0.8112 - val_loss: 0.5529 - val_accuracy: 0.8095
Epoch 47/100
7/7 [==============================] - 0s 6ms/step - loss: 0.5498 - accuracy: 0.8112 - val_loss: 0.5486 - val_accuracy: 0.8095
Epoch 48/100
7/7 [==============================] - 0s 6ms/step - loss: 0.5456 - accuracy: 0.8163 - val_loss: 0.5488 - val_accuracy: 0.8095
Epoch 49/100
7/7 [==============================] - 0s 6ms/step - loss: 0.5413 - accuracy: 0.8316 - val_loss: 0.5500 - val_accuracy: 0.8333
Epoch 50/100
7/7 [==============================] - 0s 6ms/step - loss: 0.5374 - accuracy: 0.8418 - val_loss: 0.5486 - val_accuracy: 0.8452
Epoch 51/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5327 - accuracy: 0.8418 - val_loss: 0.5438 - val_accuracy: 0.8452
Epoch 52/100
7/7 [==============================] - 0s 7ms/step - loss: 0.5278 - accuracy: 0.8469 - val_loss: 0.5371 - val_accuracy: 0.8452
Epoch 53/100
7/7 [==============================] - 0s 6ms/step - loss: 0.5237 - accuracy: 0.8316 - val_loss: 0.5301 - val_accuracy: 0.8452
Epoch 54/100
7/7 [==============================] - 0s 6ms/step - loss: 0.5190 - accuracy: 0.8418 - val_loss: 0.5308 - val_accuracy: 0.8452
Epoch 55/100
7/7 [==============================] - 0s 6ms/step - loss: 0.5141 - accuracy: 0.8469 - val_loss: 0.5273 - val_accuracy: 0.8452
Epoch 56/100
7/7 [==============================] - 0s 5ms/step - loss: 0.5097 - accuracy: 0.8418 - val_loss: 0.5232 - val_accuracy: 0.8452
Epoch 57/100
7/7 [==============================] - 0s 6ms/step - loss: 0.5053 - accuracy: 0.8418 - val_loss: 0.5229 - val_accuracy: 0.8571
Epoch 58/100
7/7 [==============================] - 0s 6ms/step - loss: 0.5003 - accuracy: 0.8367 - val_loss: 0.5183 - val_accuracy: 0.8571

Epoch 59/100
7/7 [==============================] - 0s 5ms/step - loss: 0.4948 - accuracy: 0.8520 - val_loss: 0.5121 - val_accuracy: 0.8571
Epoch 60/100
7/7 [==============================] - 0s 5ms/step - loss: 0.4898 - accuracy: 0.8520 - val_loss: 0.5063 - val_accuracy: 0.8571
Epoch 61/100
7/7 [==============================] - 0s 5ms/step - loss: 0.4850 - accuracy: 0.8418 - val_loss: 0.4993 - val_accuracy: 0.8571
Epoch 62/100
7/7 [==============================] - 0s 5ms/step - loss: 0.4799 - accuracy: 0.8520 - val_loss: 0.4952 - val_accuracy: 0.8571
Epoch 63/100
7/7 [==============================] - 0s 5ms/step - loss: 0.4749 - accuracy: 0.8520 - val_loss: 0.4874 - val_accuracy: 0.8571
Epoch 64/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4696 - accuracy: 0.8520 - val_loss: 0.4772 - val_accuracy: 0.8571
Epoch 65/100
7/7 [==============================] - 0s 5ms/step - loss: 0.4668 - accuracy: 0.8469 - val_loss: 0.4712 - val_accuracy: 0.8571
Epoch 66/100
7/7 [==============================] - 0s 5ms/step - loss: 0.4619 - accuracy: 0.8520 - val_loss: 0.4659 - val_accuracy: 0.8571
Epoch 67/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4563 - accuracy: 0.8520 - val_loss: 0.4630 - val_accuracy: 0.8571
Epoch 68/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4505 - accuracy: 0.8673 - val_loss: 0.4604 - val_accuracy: 0.8690
Epoch 69/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4459 - accuracy: 0.8673 - val_loss: 0.4584 - val_accuracy: 0.8690
Epoch 70/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4411 - accuracy: 0.8571 - val_loss: 0.4615 - val_accuracy: 0.8571
Epoch 71/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4363 - accuracy: 0.8673 - val_loss: 0.4547 - val_accuracy: 0.8690
Epoch 72/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4304 - accuracy: 0.8622 - val_loss: 0.4394 - val_accuracy: 0.8810
Epoch 73/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4261 - accuracy: 0.8571 - val_loss: 0.4329 - val_accuracy: 0.8929
Epoch 74/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4213 - accuracy: 0.8622 - val_loss: 0.4270 - val_accuracy: 0.8929
Epoch 75/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4172 - accuracy: 0.8673 - val_loss: 0.4199 - val_accuracy: 0.8929
Epoch 76/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4115 - accuracy: 0.8724 - val_loss: 0.4277 - val_accuracy: 0.8810
Epoch 77/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4068 - accuracy: 0.8724 - val_loss: 0.4320 - val_accuracy: 0.8571
Epoch 78/100
7/7 [==============================] - 0s 6ms/step - loss: 0.4015 - accuracy: 0.8724 - val_loss: 0.4232 - val_accuracy: 0.8810
Epoch 79/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3967 - accuracy: 0.8724 - val_loss: 0.4154 - val_accuracy: 0.8810
Epoch 80/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3924 - accuracy: 0.8724 - val_loss: 0.4132 - val_accuracy: 0.8810
Epoch 81/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3878 - accuracy: 0.8724 - val_loss: 0.4208 - val_accuracy: 0.8571
Epoch 82/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3860 - accuracy: 0.8827 - val_loss: 0.4273 - val_accuracy: 0.8452
Epoch 83/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3809 - accuracy: 0.8878 - val_loss: 0.4136 - val_accuracy: 0.8690
Epoch 84/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3762 - accuracy: 0.8724 - val_loss: 0.3945 - val_accuracy: 0.8929
Epoch 85/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3711 - accuracy: 0.8878 - val_loss: 0.3963 - val_accuracy: 0.8810
Epoch 86/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3665 - accuracy: 0.8827 - val_loss: 0.3913 - val_accuracy: 0.8929
Epoch 87/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3617 - accuracy: 0.8878 - val_loss: 0.3840 - val_accuracy: 0.8929
Epoch 88/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3579 - accuracy: 0.8929 - val_loss: 0.3824 - val_accuracy: 0.8929
Epoch 89/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3545 - accuracy: 0.8929 - val_loss: 0.3805 - val_accuracy: 0.8929
Epoch 90/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3518 - accuracy: 0.9031 - val_loss: 0.3889 - val_accuracy: 0.8810
Epoch 91/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3493 - accuracy: 0.8980 - val_loss: 0.3766 - val_accuracy: 0.8929
Epoch 92/100
7/7 [==============================] - 0s 7ms/step - loss: 0.3448 - accuracy: 0.8929 - val_loss: 0.3787 - val_accuracy: 0.8810
Epoch 93/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3455 - accuracy: 0.8980 - val_loss: 0.3864 - val_accuracy: 0.8810
Epoch 94/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3400 - accuracy: 0.8980 - val_loss: 0.3703 - val_accuracy: 0.8810
Epoch 95/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3370 - accuracy: 0.8929 - val_loss: 0.3701 - val_accuracy: 0.8810
Epoch 96/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3340 - accuracy: 0.8929 - val_loss: 0.3704 - val_accuracy: 0.8810
Epoch 97/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3315 - accuracy: 0.8929 - val_loss: 0.3687 - val_accuracy: 0.8810
Epoch 98/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3281 - accuracy: 0.9031 - val_loss: 0.3732 - val_accuracy: 0.8810
Epoch 99/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3262 - accuracy: 0.9031 - val_loss: 0.3813 - val_accuracy: 0.8690
Epoch 100/100
7/7 [==============================] - 0s 6ms/step - loss: 0.3267 - accuracy: 0.9031 - val_loss: 0.3798 - val_accuracy: 0.8571

In [61]:
y_pred = model.predict(X_test)
y_pred = y_pred > 0.5

In [62]:
accuracy_score(y_pred, y_test)

0.9